<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzh.back_template.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.wzh.back_template.domain.Goods">
    <!--@mbg.generated generated on Tue Jan 07 15:18:27 CST 2020.-->
    <!--@Table ecs_goods-->
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="cat_id" jdbcType="SMALLINT" property="catId" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_name_style" jdbcType="VARCHAR" property="goodsNameStyle" />
    <result column="click_count" jdbcType="INTEGER" property="clickCount" />
    <result column="brand_id" jdbcType="SMALLINT" property="brandId" />
    <result column="provider_name" jdbcType="VARCHAR" property="providerName" />
    <result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />
    <result column="goods_weight" jdbcType="DECIMAL" property="goodsWeight" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="virtual_sales" jdbcType="SMALLINT" property="virtualSales" />
    <result column="shop_price" jdbcType="DECIMAL" property="shopPrice" />
    <result column="promote_price" jdbcType="DECIMAL" property="promotePrice" />
    <result column="promote_start_date" jdbcType="INTEGER" property="promoteStartDate" />
    <result column="promote_end_date" jdbcType="INTEGER" property="promoteEndDate" />
    <result column="warn_number" jdbcType="TINYINT" property="warnNumber" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="goods_brief" jdbcType="VARCHAR" property="goodsBrief" />
    <result column="goods_desc" jdbcType="LONGVARCHAR" property="goodsDesc" />
    <result column="goods_thumb" jdbcType="VARCHAR" property="goodsThumb" />
    <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    <result column="original_img" jdbcType="VARCHAR" property="originalImg" />
    <result column="is_real" jdbcType="TINYINT" property="isReal" />
    <result column="extension_code" jdbcType="VARCHAR" property="extensionCode" />
    <result column="is_on_sale" jdbcType="BOOLEAN" property="isOnSale" />
    <result column="is_alone_sale" jdbcType="BOOLEAN" property="isAloneSale" />
    <result column="is_shipping" jdbcType="BOOLEAN" property="isShipping" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="sort_order" jdbcType="SMALLINT" property="sortOrder" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="is_best" jdbcType="BOOLEAN" property="isBest" />
    <result column="is_new" jdbcType="BOOLEAN" property="isNew" />
    <result column="is_hot" jdbcType="BOOLEAN" property="isHot" />
    <result column="is_promote" jdbcType="BOOLEAN" property="isPromote" />
    <result column="bonus_type_id" jdbcType="TINYINT" property="bonusTypeId" />
    <result column="last_update" jdbcType="INTEGER" property="lastUpdate" />
    <result column="goods_type" jdbcType="SMALLINT" property="goodsType" />
    <result column="seller_note" jdbcType="VARCHAR" property="sellerNote" />
    <result column="give_integral" jdbcType="INTEGER" property="giveIntegral" />
    <result column="rank_integral" jdbcType="INTEGER" property="rankIntegral" />
    <result column="suppliers_id" jdbcType="SMALLINT" property="suppliersId" />
    <result column="is_check" jdbcType="BOOLEAN" property="isCheck" />
    <result column="ship_fee" jdbcType="DECIMAL" property="shipFee" />
    <result column="is_oversea" jdbcType="BOOLEAN" property="isOversea" />
    <result column="is_separate" jdbcType="BOOLEAN" property="isSeparate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Jan 07 15:18:27 CST 2020.-->
    goods_id, cat_id, goods_sn, goods_name, goods_name_style, click_count, brand_id, 
    provider_name, goods_number, goods_weight, market_price, virtual_sales, shop_price, 
    promote_price, promote_start_date, promote_end_date, warn_number, keywords, goods_brief, 
    goods_desc, goods_thumb, goods_img, original_img, is_real, extension_code, is_on_sale, 
    is_alone_sale, is_shipping, integral, add_time, sort_order, is_delete, is_best, is_new, 
    is_hot, is_promote, bonus_type_id, last_update, goods_type, seller_note, give_integral, 
    rank_integral, suppliers_id, is_check, ship_fee, is_oversea, is_separate
  </sql>
</mapper>