<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzh.back_template.mapper.OrderGoodsMapper">
  <resultMap id="BaseResultMap" type="com.wzh.back_template.domain.OrderGoods">
    <!--@mbg.generated generated on Tue Jan 07 15:18:27 CST 2020.-->
    <!--@Table ecs_order_goods-->
    <id column="rec_id" jdbcType="INTEGER" property="recId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="goods_number" jdbcType="SMALLINT" property="goodsNumber" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="discount_fee" jdbcType="DECIMAL" property="discountFee" />
    <result column="goods_attr" jdbcType="LONGVARCHAR" property="goodsAttr" />
    <result column="send_number" jdbcType="SMALLINT" property="sendNumber" />
    <result column="is_real" jdbcType="BOOLEAN" property="isReal" />
    <result column="extension_code" jdbcType="VARCHAR" property="extensionCode" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="is_gift" jdbcType="SMALLINT" property="isGift" />
    <result column="goods_attr_id" jdbcType="VARCHAR" property="goodsAttrId" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="express_name" jdbcType="VARCHAR" property="expressName" />
    <result column="express_no" jdbcType="VARCHAR" property="expressNo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Jan 07 15:18:27 CST 2020.-->
    rec_id, order_id, goods_id, goods_name, goods_sn, product_id, goods_number, market_price, 
    goods_price, discount_fee, goods_attr, send_number, is_real, extension_code, parent_id, 
    is_gift, goods_attr_id, seller_id, express_name, express_no
  </sql>
</mapper>