<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzh.back_template.mapper.SuppliersMapper">
  <resultMap id="BaseResultMap" type="com.wzh.back_template.domain.Suppliers">
    <!--@mbg.generated generated on Tue Jan 07 15:18:27 CST 2020.-->
    <!--@Table ecs_suppliers-->
    <id column="suppliers_id" jdbcType="SMALLINT" property="suppliersId" />
    <result column="suppliers_name" jdbcType="VARCHAR" property="suppliersName" />
    <result column="suppliers_desc" jdbcType="LONGVARCHAR" property="suppliersDesc" />
    <result column="is_check" jdbcType="BOOLEAN" property="isCheck" />
    <result column="first_kg" jdbcType="DECIMAL" property="firstKg" />
    <result column="add_kg" jdbcType="DECIMAL" property="addKg" />
    <result column="first_kg_far" jdbcType="DECIMAL" property="firstKgFar" />
    <result column="add_kg_far" jdbcType="DECIMAL" property="addKgFar" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Jan 07 15:18:27 CST 2020.-->
    suppliers_id, suppliers_name, suppliers_desc, is_check, first_kg, add_kg, first_kg_far, 
    add_kg_far
  </sql>
</mapper>